@use "vars";


section#empresa{
    background-image: url("../img/cesur-M.jpg");
    background-size: cover;
    padding: 2em;
    
    div.color{
        background-color: vars.$color-fondo-tabla;
        border-radius:5rem ;
        
        margin: 0 25vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 0.2fr;
        grid-template-areas:
        "titulo" 
        "tabla"
        "boton";
        
    }
    h1{
        grid-area:titulo;
        text-align: center;
        color: white;
    }
    

    table{
        width:95%;
        border: 1px solid white;
        border-collapse: collapse;
        margin:4em auto;
        grid-area:tabla;
        
        color: white;
        
        
       
        tr{
        border: 1px solid white;
        }
        tr:hover td{
            background-color: vars.$color-fondo-tabla-hover
        }
    
        th, td{
            padding: 15px;
            text-align: left;
            
        }
        a{
            text-decoration: none;
            color: white;
    
        }
        a:hover {
        text-decoration: underline;
        }
        button:hover{
            background-color: vars.$color_boton_tabla;
    
        } 
    
    }
    button#anadirEmpresa{
        grid-area: boton;
        width: 15%;
        height: 50px;
        margin: auto;
        background-color: vars.$color-boton;
        color: white;


        
       
    }
        
}



