
$paddingheader : 1rem;
$color_fondo_menu : rgb(92, 92, 224);
$color_fondo_header : rgb(0, 0, 114);
$color_fuente_titulo : rgb(255, 217, 0);
$color_fuente_menu : rgb(252, 234, 135);
$tamaño_letra_menu: 14px;
$padding_footer : 1rem;
$color_fondo_footer: rgb(0, 0, 114);
$color_letra_footer: white;
$anchura_pagina: 960px;
$color-fondo-tabla: rgba(71, 60, 228, 0.98);   
$color-boton: rgb(14, 26, 192);
$color-fondo-tabla-hover: rgba(60, 50, 189, 0.98);
$color_boton_tabla : rgb(252, 234, 135);